<div class="add-emp-form">
  <div class="form-group">
    <label for="id" class="label">{{empIdLabel}}</label>
    <input type="number" class="form-control" id="id" required [(ngModel)]="employee.id" name="id">
  </div>

  <div class="form-group">
    <label for="fname" class="label">{{empFNameLabel}}</label>
    <input type="text" class="form-control" id="fname" [(ngModel)]="employee.fName" name="fname">
  </div>

  <div class="form-group">
    <label for="lname" class="label">{{empLNameLabel}}</label>
    <input type="text" class="form-control" id="lname" [(ngModel)]="employee.lName" name="lname">
  </div>

  <div class="form-group">
    <label for="dob" class="label">{{empDOBLabel}}</label>
    <input type="date" class="form-control" id="dob" [(ngModel)]="employee.dob" name="dob">
  </div>

  <div class="form-group">
    <label for="gender" class="label">{{empGenderLabel}}</label>
    <input type="text" class="form-control" id="gender" [(ngModel)]="employee.gender" name="gender">
  </div>

  <div class="form-group">
    <label for="department" class="label">{{empDeptLabel}}</label>
    <input type="text" class="form-control" id="department" [(ngModel)]="employee.department" name="department">
  </div>

  <button type="submit" class="btn-submit" (click)="onSubmit()">{{submitLabel}}</button>
  
  <div class="error-group">
    <div class="error-label" *ngIf="error == true">
      {{ errorLabel }}
    </div>
    
    <div [class.error-msg]="error" [class.success-msg]="!error"> {{ message }} </div>
  </div>

</div>