.add-emp-form{
    text-align: justify;
    display: inline-block;
    margin-top: 2%;
    width: 20%;
    border:1px dotted black;
    border-color: black;
    padding: 2%;
}

.form-group{
    margin-bottom: 8%;
    font-size: 20px;
}

.form-control{
    margin-left: 1%;
    width: 55%;
    font-size: 15px;
}

.btn-submit{
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.error-label{
    margin-top: 5%;
    font-size: 20px;
    font: bolder;
    color: red;
}

.error-msg{
    margin-top: 4%;
    font-size: 16px;
    font: bold;
    color: rgb(248, 66, 66)
}

.success-msg{
    margin-top: 4%;
    font-size: 16px;
    font: bold;
    color: rgb(7, 87, 13)
}